*.class
*.log
*.xml
**/metastore_db
*.crc
*.iml
*.sc
*.MF
*.log
.DS_Store
.cache
.classpath
.externalToolBuilders
.history
.idea
.project
.settings/
.worksheet/

out
target
_SUCCESS
dependency-reduced-pom.xml
out
